<p>Ask your coach anything</p>

<form action='/answer' autocomplete="off">
<div class="submit-div">
  <input type="text" name="answer" class="submit-txt">
  <input type="submit" value="Ask" class="submit-btn">
</div>
</form>
