$height-submit: 40px;
$border: 1px solid rgba(0, 0, 0, 0.5);
$border-radius: 6px;

body {
  padding-left: 20px;
}
h1 {
  font-size: 60px;
  font-family:'Times New Roman', Times, serif;
  font-weight: normal;
}

.submit-div {
  display: flex;
  border: $border;
  width: 600px;
  justify-content: space-around;
  border-radius: $border-radius;
  height: 38px;
  .submit-btn {
    background-color: rgba(47, 47, 224, 0.678);
    color: white;
    width: 60px;
    cursor: pointer;
    border: none;
    height:39px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .submit-txt {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-size: 20px;
    margin-left: 2px;
    outline: none;
  }

}

.answer-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 6px solid rgba(#797979, 0.3);
  height: 80px;
  p {
    padding-left: 10px;
    margin: 0.2em 0;
  }
  p:nth-child(2) {
    font-style: italic;
    margin: 0.6em 0;
  }
}
.answer-coach {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 6px solid rgba(#797979, 0.3);
  height: 80px;
  background-color: rgba(yellow, 0.15);
  margin-bottom: 20px;
  margin-top: 1em;
  p {
    padding-left: 10px;
    margin: 0.2em 0;
  }
  p:nth-child(2) {
    font-style: italic;
    margin: 0.6em 0;
  }
}

a {
  text-decoration: none;
  font-size: 14px;
  color: rgba(blue,0.7);
}
